gate_rules_path: config/gate_rules.yaml
report_blocks_path: config/report_blocks.yaml
factor_pipeline:
  on_error: placeholder  # placeholder|raise
  enabled:
  - unified_emotion
  - participation
  - global_macro
  - global_lead
  - index_global
  - index_tech
  - breadth
  - amount
  - margin
  - north_proxy_pressure
  - sector_proxy
  - watchlist_lead
  - crowding_concentration
  - trend_in_force
  - failure_rate
  - etf_flow
  - futures_basis
  - liquidity_quality
  - options_risk

  registry:
    unified_emotion: "core.factors.cn.unified_emotion_factor:UnifiedEmotionFactor"
    participation: "core.factors.cn.participation_factor:ParticipationFactor"
    global_macro: "core.factors.glo.global_macro_factor:GlobalMacroFactor"
    global_lead: "core.factors.glo.global_lead_factor:GlobalLeadFactor"
    index_global: "core.factors.glo.index_global_factor:IndexGlobalFactor"
    index_tech: "core.factors.cn.index_tech_factor:IndexTechFactor"
    breadth: "core.factors.cn.breadth_factor:BreadthFactor"
    amount: "core.factors.cn.amount_factor:AmountFactor"
    margin: "core.factors.cn.margin_factor:MarginFactor"
    north_proxy_pressure: "core.factors.cn.north_proxy_pressure_factor:NorthProxyPressureFactor"
    sector_proxy: "core.factors.cn.sector_proxy_factor:SectorProxyFactor"
    watchlist_lead: "core.factors.cn.watchlist_lead_factor:WatchlistLeadFactor"
    crowding_concentration: "core.factors.cn.crowding_concentration_factor:CrowdingConcentrationFactor"    
    trend_in_force: "core.factors.cn.trend_in_force_factor:TrendInForceFactor"
    failure_rate: "core.factors.cn.frf_factor:FRFFactor"
    # C Block: ETF Flow Factor
    etf_flow: "core.factors.cn.etf_flow_factor:ETFFlowFactor"
    # D Block: Futures Basis Factor
    futures_basis: "core.factors.cn.futures_basis_factor:FuturesBasisFactor"
    # F Block: Liquidity Quality Factor
    liquidity_quality: "core.factors.cn.liquidity_quality_factor:LiquidityQualityFactor"
    # E Block: Options Risk Factor
    options_risk: "core.factors.cn.options_risk_factor:OptionsRiskFactor"

  structure_factors:
  - sector_proxy
  - north_proxy_pressure
  - amount
  - crowding_concentration
  - trend_in_force
  - failure_rate
  - index_tech
  params:
    sector_proxy:
      lookback_days: 20
  rename: {}
prediction_weights:
  north_nps: 0.2
  unified_emotion: 0.1
  amount: 0.15
  margin: 0.1
  index_tech: 0.1
  sector_rotation: 0.05
  global_lead: 0.05
  index_global: 0.05
  breadth: 0.1
  global_macro: 0.1
  sector_proxy: 0.0
  north_proxy_pressure: 0.0
  trend_in_force: 0.0
  failure_rate: 0.0
  participation: 0.0
  etf_flow: 0.05
  futures_basis: 0.05
  liquidity_quality: 0.05
  options_risk: 0.05
validation_weights:
  sector_proxy: 1.0
  north_proxy_pressure: 1.0
  trend_in_force: 1.0
  failure_rate: 1.0
  amount: 1.0
  breadth: 1.0
  index_tech: 1.0
  participation: 1.0
  etf_flow: 1.0
  futures_basis: 1.0
  liquidity_quality: 1.0
  options_risk: 1.0
gate_rules:
  mode: downgrade_only
  order:
  - NORMAL
  - CAUTION
  - PLANB
  - FREEZE
  rules: []
