gate_rules_path: config/gate_rules.yaml
report_blocks_path: config/report_blocks.yaml
factor_pipeline:
  on_error: placeholder  # placeholder|raise
  enabled:
  - unified_emotion
  - participation
  - global_macro
  - global_lead
  - index_global
  - index_tech
  - breadth
  - amount
  - margin
  - north_proxy_pressure
  - sector_proxy
  - etf_index_sync
  - etf_index_sync_daily
  - trend_in_force
  - failure_rate

  registry:
    unified_emotion: "core.factors.cn.unified_emotion_factor:UnifiedEmotionFactor"
    participation: "core.factors.cn.participation_factor:ParticipationFactor"
    global_macro: "core.factors.glo.global_macro_factor:GlobalMacroFactor"
    global_lead: "core.factors.glo.global_lead_factor:GlobalLeadFactor"
    index_global: "core.factors.glo.index_global_factor:IndexGlobalFactor"
    index_tech: "core.factors.cn.index_tech_factor:IndexTechFactor"
    breadth: "core.factors.cn.breadth_factor:BreadthFactor"
    amount: "core.factors.cn.amount_factor:AmountFactor"
    margin: "core.factors.cn.margin_factor:MarginFactor"
    north_proxy_pressure: "core.factors.cn.north_proxy_pressure_factor:NorthProxyPressureFactor"
    sector_proxy: "core.factors.cn.sector_proxy_factor:SectorProxyFactor"
    etf_index_sync: "core.factors.cn.etf_index_sync_factor:ETFIndexSyncFactor"
    etf_index_sync_daily: "core.factors.cn.etf_index_sync_daily_factor:ETFIndexSyncDailyFactor"
    trend_in_force: "core.factors.cn.trend_in_force_factor:TrendInForceFactor"
    failure_rate: "core.factors.cn.frf_factor:FRFFactor"

  structure_factors:
  - sector_proxy
  - north_proxy_pressure
  - amount
  - etf_index_sync_daily
  - trend_in_force
  - failure_rate
  - index_tech
  params:
    sector_proxy:
      lookback_days: 20
  rename: {}
prediction_weights:
  north_nps: 0.2
  unified_emotion: 0.1
  amount: 0.15
  margin: 0.1
  index_tech: 0.1
  sector_rotation: 0.05
  global_lead: 0.05
  index_global: 0.05
  breadth: 0.1
  global_macro: 0.1
  sector_proxy: 0.0
  north_proxy_pressure: 0.0
  trend_in_force: 0.0
  failure_rate: 0.0
  participation: 0.0
validation_weights:
  sector_proxy: 1.0
  north_proxy_pressure: 1.0
  trend_in_force: 1.0
  failure_rate: 1.0
  amount: 1.0
  breadth: 1.0
  index_tech: 1.0
  participation: 1.0
gate_rules:
  mode: downgrade_only
  order:
  - NORMAL
  - CAUTION
  - PLANB
  - FREEZE
  rules: []
